{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="card card-custom col-12 mt-2">
    <div class="card-body">
      <h1 class="text-center">Enhanced Acknowledgement of Country</h1>
      <hr />
      <p>
        An Acknowledgement of Country is an important practice in Australia that
        recognises the Traditional Custodians of the land and their enduring
        connection to Country.
      </p>

      <h5>Guidance for writing a meaningful acknowledgement:</h5>
      <ul>
        <li>Research the Traditional Custodians of {{event.venue_state}}.</li>
        <li>Be specific and respectful to the people you are acknowledging</li>
        <li>Avoid sarcastic, tokenistic, or generic statements</li>
        <li>Speak with sincerity and genuine respect</li>
        <p>
          <a
            href="https://indigenousportal.education.qld.gov.au/resource/Documents/how-craft-heartfelt-acknowledgement-country.pdf"
            class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            >You can learn more through this website</a
          >
        </p>
      </ul>

      <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
          <label class="form-label">Your Acknowledgement Statement</label>
          {{ form.enhanced_statement(class="form-control", rows="6",
          placeholder="Write your acknowledgement statement here...")}}
        </div>
        <button type="submit" class="btn btn-custom mt-3">
          Save Statement
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
