{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div class="container">

    <!-- header card -->
    <div class="card card-custom col-12 mt-2">
        <img src="{{ url_for('static', filename='img/AquaTriangle.jpg') }}" class="card-img-top" alt="Aqua Triangle">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="row">
                    <h5 class="card-title">Aqua Triangle</h5>
                </div>
                <div class="row medium-icon">
                    <a href="{{ url_for('main.index', genre='metal') }}">
                        <img src="{{ url_for('static', filename='icons/BWMetal.svg') }}" alt="Metal">
                    </a>
                </div>
            </div>
            <p class="card-text">Metal for the masses, Aqua Triangle are back again to bring their
                energetic mayhem to the shores of Australia.</p>
        </div>
        <div class="card-footer">
            <div class="d-flex flex-row">
                <div class="col-6">
                    <p class="my-0">
                        🕜 7:00pm-10:30pm
                    </p>
                    <p class="my-0">
                        🗓️ Wednesday 18/11/2026
                    </p>
                    <p class="my-0">
                        📍 The Brightside
                    </p>
                    <p class="my-0">
                        🌆 Brisbane, QLD
                    </p>
                </div>
                <div class="col-6">

                    <!-- purchase ticket form -->
                    <form action="{{ url_for('booking.show') }}">
                        <p class="text-end my-0">
                            <label for="aa">All Ages: $79.90</label>
                            <select id="aa" name="aa">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                        </p>
                        <p class="text-end my-0">
                            <label for="ga">General Admission: $89.90</label>
                            <select id="ga" name="ga" class="mt-2">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                        </p>
                        <p class="text-end my-2">
                            <input type="submit" value="Buy Tickets" class="btn btn-custom">
                        </p>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- google maps iframe -->
    <div>
        <iframe class="card card-custom"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.39188146807!2d153.0325199123986!3d-27.457056676228046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b9159f2576bbb8f%3A0x5c71ef060522d4e2!2sThe%20Brightside%20Brisbane!5e0!3m2!1sen!2sau!4v1776158827443!5m2!1sen!2sau"
            width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!-- event details -->
    <div class="card card-custom col-12">
        <div class="card-body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut orci diam, varius ut tellus in,
                dapibus
                vulputate leo. Morbi
                ut posuere diam, ut iaculis lectus. Praesent neque lectus, cursus non volutpat ac, eleifend
                hendrerit ante. Suspendisse
                potenti. In pulvinar massa vitae vestibulum finibus. Nam maximus consequat felis, ut blandit
                urna
                viverra eget. Aenean
                non neque eget leo vestibulum luctus. Curabitur cursus, lacus eu pretium venenatis, mi leo
                cursus
                erat, id tincidunt
                lacus odio at ex. Pellentesque a felis diam. Integer ex purus, facilisis tempor diam at,
                pharetra
                vulputate nulla.
                Vivamus euismod nibh a bibendum tincidunt. Class aptent taciti sociosqu ad litora torquent per
                conubia nostra, per
                inceptos himenaeos.
            </p>

            <p>
                Cras suscipit orci id purus luctus, sed ullamcorper nunc eleifend. Maecenas dignissim eu velit
                id
                suscipit. Nulla
                malesuada dignissim est, vitae viverra turpis rhoncus nec. Sed facilisis sagittis nisi eget
                pellentesque. Donec at
                feugiat risus. Nulla lorem est, molestie id bibendum ac, semper eget nisi. Sed mattis tincidunt
                ipsum, eget volutpat est
                iaculis at. Morbi dapibus ligula ut eleifend auctor. Quisque congue elit vel augue mattis, id
                iaculis nisi porttitor.
            </p>

            <p>
                Aliquam hendrerit, magna ornare cursus finibus, turpis tellus ultrices urna, id accumsan purus
                ligula in mi. Duis purus
                odio, mattis id leo ac, semper tristique nibh. Aliquam elementum elit at sem dapibus aliquet.
                Fusce
                tristique rhoncus
                sollicitudin. Nullam ac nisi id sapien aliquet varius. Quisque vitae tortor consectetur, mattis
                risus ut, convallis
                augue. Aliquam ac massa metus. Pellentesque sed porttitor felis. Sed non nisi lectus. Mauris
                ullamcorper pellentesque
                nisi, ut sagittis massa ornare a. Cras tincidunt malesuada molestie. Donec vel ipsum aliquet,
                porta
                ipsum vitae,
                convallis lectus. Vestibulum iaculis sodales lectus id viverra. Pellentesque at orci congue,
                scelerisque justo sed,
                aliquam lorem.
            </p>

            <p>
                Suspendisse porta eleifend interdum. Duis pretium ultrices mauris ut vulputate. Donec vitae
                libero
                in lacus convallis
                molestie sed nec tellus. Aliquam at condimentum diam, eget mollis diam. Curabitur vel neque sit
                amet
                enim efficitur
                auctor. Ut congue consequat urna, eget aliquet justo dictum vitae. Fusce tristique purus vel
                elit
                volutpat ultrices.
                Quisque vitae augue massa. Fusce ornare est mi, sit amet ornare nisi elementum in. Mauris vel
                elementum diam.
            </p>

            <p>
                Vestibulum dui arcu, bibendum ac velit consectetur, efficitur lobortis lectus. In hac habitasse
                platea dictumst.
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris condimentum eleifend ex, a
                fermentum felis
                elementum nec. Morbi varius metus volutpat tortor sagittis maximus. Nam convallis lacus eget
                turpis placerat viverra.
                Integer nec malesuada arcu, vitae porttitor erat. Nunc rhoncus, neque vitae aliquam porta,
                turpis sapien molestie neque,
                sit amet commodo nulla enim quis eros. Donec semper sem sed congue elementum. Aenean nec enim
                odio. Sed vel laoreet
                urna. Morbi posuere dolor id nulla sodales, ut viverra erat dapibus. Cras et ex in nisi vehicula
                scelerisque. Maecenas
                condimentum metus felis.
            </p>
        </div>
    </div>

    <!-- comments -->
    <div class="card card-custom col-12 my-2">
        <div class="card-body">
            <h1 class="text-center">Comments</h1>

            <div>
                <hr>
                <p class="my-0">
                    🗓️ 9/4/2026
                </p>
                <p class="my-0">
                    🙍‍♂️ John Smith
                </p>
                <p class="my-0">
                    My favourite band! Can't come soon enough!
                </p>
            </div>

            <div>
                <hr>
                <p class="my-0">
                    🗓️ 9/4/2026
                </p>
                <p class="my-0">
                    🙍‍♀️ Jane Doe
                </p>
                <p class="my-0">
                    This is sure to be a show that will not be forgotten, from their pyrotechnics to the
                    greatest of sound engineering they always put on a good show.
                </p>
            </div>

            <div>
                <hr>
                <p class="my-0">
                    🗓️ 10/4/2026
                </p>
                <p class="my-0">
                    🙍‍♂️ Bob Rogers
                </p>
                <p class="my-0">
                    Yes, finally! I missed them last time they toured and have been waiting for them to come
                    back ever since!
                </p>
            </div>

            <div>
                <hr>

                <!-- comment form -->
                <form action="{{ url_for('event.show', id=1) }}">
                    <h4>Write a comment:</h4>
                    <textarea class="form-control mb-2" name="comment" rows="6" style="width:100%;"
                        placeholder="Enter text here"></textarea>
                    <input class="form-control" type="submit" class="mt-2 btn btn-custom" value="Post Comment">
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}