{% extends 'base.html' %} {% from 'bootstrap5/form.html' import render_form %}
{% block content %}

<div class="container">
  <!-- header card -->
  <div class="card card-custom col-12 mt-2">
    <img src="{{ event.image }}" class="card-img" alt="{{ event.artist }}" />
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="row">
          <h5 class="card-title">{{ event.artist }}</h5>
        </div>
        <div class="row medium-icon">
          <a href="{{ url_for('main.index', genre=event.genre) }}">
            <img src="{{ url_for('static', filename=icons[event.genre]) }}" alt="{{ event.genre }}" />
          </a>
        </div>
      </div>
      <p class="card-text">{{ event.short_description }}</p>

      <!-- Admin buttons, need to edit to only show if the user is the event creator -->
      {% if admin == True %}
      <div class="text-center">
        <div class="btn btn-custom">
          <a href="{{ url_for('event.edit', id=event.id) }}">Edit Details</a>
        </div>
        {% if event.status != "Cancelled" %}
        <div class="btn btn-cancel">
          <a href="{{ url_for('event.cancel', id=event.id) }}">Cancel Event</a>
        </div>
        {% endif %}
      </div>
      {% endif %}

    </div>
    <div class="card-footer">
      <div class="d-flex flex-row">
        <div class="col-6">
          <p class="my-0">🕜 {{ event.start_time.strftime("%I:%M %p") }} - {{ event.end_time.strftime("%I:%M %p") }}</p>
          <p class="my-0">🗓️ {{ event.date.strftime("%A, %B %d %Y") }}</p>
          <p class="my-0">📍 {{ event.venue_name }}</p>
          <p class="my-0">🌆 {{ event.venue_city }}, {{ event.venue_state }}</p>
        </div>
        <div class="col-6">
          <!-- purchase ticket form -->
          <!-- purchase ticket form -->
          <form action="{{ url_for('booking.create', id=event.id) }}" method="POST">
            {{ form.hidden_tag() }}
            <p class="text-end my-0">
              {% if event.status == "Open" %}
              <span class="badge bg-success">Open</span>
              {% elif event.status == "Cancelled" %}
              <span class="badge bg-danger">Cancelled</span>
              {% elif event.status == "Sold Out" %}
              <span class="badge bg-warning text-dark">Sold Out</span>
              {% else %}
              <span class="badge bg-secondary">Inactive</span>
              {% endif %}
            </p>
            <p class="text-end my-0">
              <label for="ga">General Admission: ${{ "{:.2f}".format(event.general_admission_price) }}</label>
              {% if event.status == "Open" %}
              <select id="ga" name="ga" class="mt-2">
                {% for i in range(1, ga_available + 1) %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
              </select>
              {% endif %}
            </p>
            <p class="text-end my-2">
              {% if event.status == "Open" %}
              <input type="submit" value="Buy Tickets" class="btn btn-custom" />
              {% else %}
              <button type="button" class="btn btn-inactive" disabled>Unavailable</button>
              {% endif %}
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- event details -->
  <div class="card card-custom col-12 mt-2">
    <div class="card-body">
      <h1 class="text-center">Description</h1>

      {% for paragraph in event.long_description.splitlines() %}

      <p>{{ paragraph }}</p>

      {% endfor %}

    </div>
  </div>

  <!-- comments -->
  <div class="card card-custom col-12 my-2">
    <div class="card-body">
      <h1 class="text-center">Comments</h1>

      <div>
        <hr />
        <p class="my-0">🗓️ 9/4/2026</p>
        <p class="my-0">🙍‍♂️ John Smith</p>
        <p class="my-0">My favourite band! Can't come soon enough!</p>
      </div>

      <div>
        <hr />
        <p class="my-0">🗓️ 9/4/2026</p>
        <p class="my-0">🙍‍♀️ Jane Doe</p>
        <p class="my-0">
          This is sure to be a show that will not be forgotten, from their
          pyrotechnics to the greatest of sound engineering they always put on a
          good show.
        </p>
      </div>

      <div>
        <hr />
        <p class="my-0">🗓️ 10/4/2026</p>
        <p class="my-0">🙍‍♂️ Bob Rogers</p>
        <p class="my-0">
          Yes, finally! I missed them last time they toured and have been
          waiting for them to come back ever since!
        </p>
      </div>

      <div>
        <hr />

        <!-- comment form -->
        <form action="{{ url_for('event.show', id=2) }}">
          <h4>Write a comment:</h4>
          <textarea class="form-control mb-2" name="comment" rows="6" style="width: 100%"
            placeholder="Enter text here"></textarea>
          <input class="form-control" type="submit" class="mt-2 btn btn-custom" value="Post Comment" />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}