<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eventius - Bookings</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </link>

    <!-- custom stylesheet -->
    <link rel="stylesheet" href="./static/style/style.css">

    <!-- roboto font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="./static/img/Logo.png">
</head>

<body>
    <header>
        <!-- navbar https://getbootstrap.com/docs/5.0/components/navbar/ -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="./index.html">
                    <img src="./static/img/Logo.png" alt="Eventius Logo" width="24" height="30">
                    Eventius
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Events
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="./index.html">All Genres</a></li>
                                <li><a class="dropdown-item" href="./index.html?genre=electronic">Electronic</a></li>
                                <li><a class="dropdown-item" href="./index.html?genre=hiphop">Hip-Hop</a></li>
                                <li><a class="dropdown-item" href="./index.html?genre=jazz">Jazz</a></li>
                                <li><a class="dropdown-item" href="./index.html?genre=metal">Metal</a></li>
                                <li><a class="dropdown-item" href="./index.html?genre=pop">Pop</a></li>
                                <li><a class="dropdown-item" href="./index.html?genre=rock">Rock</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./create.html">Create Event</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active-custom" href="./bookings.html">Bookings</a>
                        </li>
                    </ul>
                    <span class="d-none d-lg-inline mx-3">Welcome, Matt</span>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <h1 class="text-center">Bookings</h1>

            <!-- booking 1 -->
            <div class="card card-custom col-12 my-2">
                <div class="bookings-image-container">
                    <a href="./details.html">
                        <img src="./static/img/AquaTriangle.jpg" alt="Aqua Triangle">
                    </a>
                </div>
                <div class="card-body">

                    <h5 class="card-title"><a href="./details.html">Aqua Triangle</a></h5>

                    <p class="card-text">Metal for the masses, Aqua Triangle are back again to bring their
                        energetic mayhem to the shores of Australia.</p>
                </div>
                <div class="card-footer">
                    <div class="d-flex flex-row">
                        <div class="col-6">
                            <p class="my-0">
                                🕜 7:00pm-10:30pm
                            </p>
                            <p class="my-0">
                                🗓️ Wednesday 18/11/2026
                            </p>
                            <p class="my-0">
                                📍 The Brightside
                            </p>
                            <p class="my-0">
                                🌆 Brisbane, QLD
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="text-end my-0">
                                Booked: 2:07pm 9/4/2026
                            </p>
                            <p class="text-end my-0">
                                Booking ID: 5tljCA1o7P0a
                            </p>
                            <p class="text-end my-0">
                                4x General Admission: $89.90
                            </p>
                            <p class="text-end my-0">
                                Total: $359.60
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- booking 2 -->
            <div class="card card-custom col-12 my-2">
                <div class="bookings-image-container">
                    <a href="./details.html">
                        <img src="./static/img/EcstaticChild.jpg" alt="Ecstatic Child">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><a href="./details.html">Ecstatic Child</a></h5>
                    <p class="card-text">Pop sensation Ecstatic Child is back in Australia bringing her famous
                        style, class and ambiance for all to enjoy. Her first tour in 3 years is sure to be a
                        night of fun and excitement.</p>
                </div>
                <div class="card-footer">
                    <div class="d-flex flex-row">
                        <div class="col-6">
                            <p class="my-0">
                                🕜 7:30pm-9:30pm
                            </p>
                            <p class="my-0">
                                🗓️ Wednesday 21/10/2026
                            </p>
                            <p class="my-0">
                                📍 Black Bear Lodge
                            </p>
                            <p class="my-0">
                                🌆 Brisbane, QLD
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="text-end my-0">
                                Booked: 11:26am 5/4/2026
                            </p>
                            <p class="text-end my-0">
                                Booking ID: GCwv2cq491oU
                            </p>
                            <p class="text-end my-0">
                                1x General Admission: $67.50
                            </p>
                            <p class="text-end my-0">
                                Total: $67.50
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- booking 3 -->
            <div class="card card-custom col-12 my-2">
                <div class="bookings-image-container">
                    <a href="./details.html">
                        <img src="./static/img/WideCross.jpg" alt="Wide Cross">
                    </a>
                </div>
                <div class="card-body">
                    <a href="./details.html">
                        <h5 class="card-title"><a href="./details.html">Wide Cross</a></h5>
                    </a>
                    <p class="card-text">Smooth and cool are the sounds of Wide Cross. Join them in their second
                        tour of Australia bringing good vibes to all.</p>
                </div>
                <div class="card-footer">
                    <div class="d-flex flex-row">
                        <div class="col-6">
                            <p class="my-0">
                                🕜 7:00pm-10:00pm
                            </p>
                            <p class="my-0">
                                🗓️ Saturday 5/12/2026
                            </p>
                            <p class="my-0">
                                📍 Suncorp Stadium
                            </p>
                            <p class="my-0">
                                🌆 Brisbane, QLD
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="text-end my-0">
                                Booked: 12:42pm 21/3/2026
                            </p>
                            <p class="text-end my-0">
                                Booking ID: l3eAPguQvk9H
                            </p>
                            <p class="text-end my-0">
                                2x General Admission: $99.90
                            </p>
                            <p class="text-end my-0">
                                Total: $199.80
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>


    <footer>
        <div class="bg-light pt-1 mt-2">
            <div class="container">
                <div class="d-flex justify-content-between pt-4 mt-4 border-top">
                    <p class="text-muted">© Eventius 2026</p>
                    <a href="./index.html">
                        <img src="./static/img/Logo.png" alt="Eventius Logo" width="24" height="30">
                    </a>
                    <p class="text-muted">Icons courtesy of <a href="https://www.flaticon.com">Flaticon</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>