<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eventius - Create Event</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </link>

    <!-- custom stylesheet -->
    <link rel="stylesheet" href="./static/style/style.css">

    <!-- roboto font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="./static/img/Logo.png">
</head>

<body>
    <header>
        <!-- navbar https://getbootstrap.com/docs/5.0/components/navbar/ -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="./index.html">
                    <img src="./static/img/Logo.png" alt="Eventius Logo" width="24" height="30">
                    Eventius
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Events
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="./index.html">All Genres</a></li>
                                <li><a class="dropdown-item" href="./index.html?genre=electronic">Electronic</a></li>
                                <li><a class="dropdown-item" href="./index.html?genre=hiphop">Hip-Hop</a></li>
                                <li><a class="dropdown-item" href="./index.html?genre=jazz">Jazz</a></li>
                                <li><a class="dropdown-item" href="./index.html?genre=metal">Metal</a></li>
                                <li><a class="dropdown-item" href="./index.html?genre=pop">Pop</a></li>
                                <li><a class="dropdown-item" href="./index.html?genre=rock">Rock</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active-custom" href="./create.html">Create Event</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./bookings.html">Bookings</a>
                        </li>
                    </ul>
                    <span class="d-none d-lg-inline mx-3">Welcome, Matt</span>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <h1 class="text-center">Create Event</h1>

            <div class="card card-custom col-xxl-10 col-xl-12 my-2 mx-auto">
                <div class="card-body">
                    <form action="./details.html">
                        <!-- Event details -->
                        <h4>Event Details</h4>
                        <div class="mb-2">
                            <p class="my-0">
                                <label for="artist">Artist:</label>
                            </p>
                            <input class="form-control" type="text" id="artist" name="artist"
                                placeholder="Enter artist">
                        </div>
                        <div class="mb-2">
                            <p class="my-0">
                                <label for="genre">Genre:</label>
                            </p>
                            <select class="form-control" id="genre" name="genre">
                                <option value="electronic">Electronic</option>
                                <option value="hiphop">Hip-Hop</option>
                                <option value="jazz">Jazz</option>
                                <option value="metal">Metal</option>
                                <option value="pop">Pop</option>
                                <option value="rock">Rock</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <p class="my-0">
                                <label for="acknowledgement">Acknowledgement of Country:</label>
                            </p>
                            <select class="form-control" id="acknowledgement" name="acknowledgement">
                                <option value="none">No Acknowledgement of Country</option>
                                <option value="generic">Acknowledgement of Country: generic</option>
                                <option value="enhanced">Acknowledgement of Country: enhanced</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <p class="my-0">
                                <label for="short-description">Short description:</label>
                            </p>
                            <textarea class="form-control" id="short-description" name="short-description"
                                placeholder="Enter short description" rows="2" style="width:100%;"></textarea>
                        </div>
                        <div class="mb-2">
                            <p class="my-0">
                                <label for="long-description">Long description:</label>
                            </p>
                            <textarea class="form-control" id="long-description" name="long-description"
                                placeholder="Enter long description" rows="12" style="width:100%;"></textarea>
                        </div>
                        <div class="mb-2">
                            <p class="my-0">
                                <label for="end">Event image:</label>
                            </p>
                            <input class="form-control" type="file" id="myfile" name="myfile">
                        </div>

                        <!-- venue details -->
                        <h4>Venue Details</h4>
                        <div class="mb-2">
                            <p class="my-0">
                                <label for="venue">Venue:</label>
                            </p>
                            <input class="form-control" type="text" id="venue" name="venue" placeholder="Enter venue">
                        </div>
                        <div class="mb-2">
                            <p class="my-0">
                                <label for="city">City:</label>
                            </p>
                            <input class="form-control" type="text" id="city" name="city" placeholder="Enter city">
                        </div>
                        <div class="mb-2">
                            <p class="my-0">
                                <label for="state">State:</label>
                            </p>
                            <input class="form-control" type="text" id="state" name="state" placeholder="Enter state">
                        </div>
                        <div class="mb-2">
                            <p class="my-0">
                                <label for="start">Start time:</label>
                            </p>
                            <input class="form-control" type="datetime-local" id="start" name="start">
                        </div>
                        <div class="mb-2">
                            <p class="my-0">
                                <label for="end">End time:</label>
                            </p>
                            <input class="form-control" type="datetime-local" id="end" name="end">
                        </div>

                        <!-- ticket details -->
                        <h4>Ticket Details</h4>
                        <div class="mb-2">
                            <p class="my-0">
                                <label for="aa-price">All ages price:</label>
                            </p>
                            <input class="form-control" type="number" step="0.05" id="aa-price" name="aa-price"
                                placeholder="Enter price">
                        </div>
                        <div class="mb-2">
                            <p class="my-0">
                                <label for="ga-price">General admission price:</label>
                            </p>
                            <input class="form-control" type="number" step="0.05" id="ga-price" name="ga-price"
                                placeholder="Enter price">
                        </div>

                        <!-- submit button -->
                        <div class="mt-4">
                            <input class="btn btn-custom" type="submit" value="Create Event">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </main>


    <footer>
        <div class="bg-light pt-1 mt-2">
            <div class="container">
                <div class="d-flex justify-content-between pt-4 mt-4 border-top">
                    <p class="text-muted">© Eventius 2026</p>
                    <a href="./index.html">
                        <img src="./static/img/Logo.png" alt="Eventius Logo" width="24" height="30">
                    </a>
                    <p class="text-muted">Icons courtesy of <a href="https://www.flaticon.com">Flaticon</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>