{% extends 'base.html' %}

{% block header %}
<div class="container">

    <!-- carousel -->
    <div class="row">
        <div id="carouselCaptions" class="carousel slide my-2" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner card-custom">

                <div class="carousel-item active">
                    <a href="{{ url_for('event.show', id=2) }}">
                        <img src="{{ url_for('static', filename='img/VerticalFlames.jpg') }}" class="d-block w-100"
                            alt="Vibrant Concert Scene with Crowd and Fire Effects">
                        <div class="carousel-caption">
                            <h5 class="d-block">Vertical Flames</h5>
                            <p class="d-none d-md-block">Playing at The Tivoli, Brisbane on 16/7/2026</p>
                        </div>
                    </a>
                </div>

                <div class="carousel-item">
                    <a href="{{ url_for('event.show', id=2) }}">
                        <img src="{{ url_for('static', filename='img/PastelBlooms.jpg') }}" class="d-block w-100"
                            alt="Crowd watching on a Live Concert">
                        <div class="carousel-caption">
                            <h5 class="d-block">Pastel Blooms</h5>
                            <p class="d-none d-md-block">Playing at The Triffid, Brisbane on 2/9/2026</p>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="{{ url_for('event.show', id=2) }}">
                        <img src="{{ url_for('static', filename='img/SunCircle.jpg') }}" class="d-block w-100"
                            alt="Crowd and Illuminated Stage at Concert">
                        <div class="carousel-caption">
                            <h5 class="d-block">Sun Circle</h5>
                            <p class="d-none d-md-block">Playing at Riverstage, Brisbane on 29/12/2026</p>
                        </div>
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

    <!-- genres row -->
    <div class="row">
        <div class="col-2 text-center my-3 large-icon">
            <div>
                <a href="{{ url_for('main.index', genre='electronic') }}">
                    <img src="{{ url_for('static', filename='icons/BWElectronic.svg') }}" alt="Electronic">
                </a>
            </div>
            <div>
                <a href="{{ url_for('main.index', genre='electronic') }}">
                    Electronic
                </a>
            </div>
            </a>
        </div>
        <div class="col-2 text-center my-3 large-icon">
            <div>
                <a href="{{ url_for('main.index', genre='hiphop') }}">
                    <img src="{{ url_for('static', filename='icons/BWHip-Hop.svg') }}" alt="Hip-Hop">
                </a>
            </div>
            <div>
                <a href="{{ url_for('main.index', genre='hiphop') }}">
                    Hip-Hop
                </a>
            </div>
            </a>
        </div>
        <div class="col-2 text-center my-3 large-icon">
            <a href="{{ url_for('event.show', id=2) }}">
                <div>
                    <a href="{{ url_for('main.index', genre='jazz') }}">
                        <img src="{{ url_for('static', filename='icons/BWJazz.svg') }}" alt="Jazz">
                    </a>
                </div>
                <div>
                    <a href="{{ url_for('main.index', genre='jazz') }}">
                        Jazz
                    </a>
                </div>
            </a>
        </div>
        <div class="col-2 text-center my-3 large-icon">
            <div>
                <a href="{{ url_for('main.index', genre='metal') }}">
                    <img src="{{ url_for('static', filename='icons/BWMetal.svg') }}" alt="Metal">
                </a>
            </div>
            <div>
                <a href="{{ url_for('main.index', genre='metal') }}">
                    Metal
                </a>
            </div>
            </a>
        </div>
        <div class="col-2 text-center my-3 large-icon">
            <div>
                <a href="{{ url_for('main.index', genre='pop') }}">
                    <img src="{{ url_for('static', filename='icons/BWPop.svg') }}" alt="Pop">
                </a>
            </div>
            <div>
                <a href="{{ url_for('main.index', genre='pop') }}">
                    Pop
                </a>
            </div>
        </div>
        <div class="col-2 text-center my-3 large-icon">
            <div>
                <a href="{{ url_for('main.index', genre='rock') }}">
                    <img src="{{ url_for('static', filename='icons/BWRock.svg') }}" alt="Rock">
                </a>
            </div>
            <div>
                <a href="{{ url_for('main.index', genre='rock') }}">
                    Rock
                </a>
            </div>
        </div>
    </div>

    <!-- event cards -->
    <div class=" row">
        <!-- card 1 -->
        <div class="col-sm-12 col-lg-6 col-xl-4 my-2">
            <div class="card card-custom h-100">
                <a href="{{ url_for('event.show', id=2) }}">
                    <img src="{{ url_for('static', filename='img/AquaTriangle.jpg') }}" class="card-img-top"
                        alt="Aqua Triangle">
                </a>

                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="row">
                            <h5 class="card-title">Aqua Triangle</h5>
                        </div>
                        <div class="row small-icon">
                            <a href="{{ url_for('main.index', genre='metal') }}">
                                <img src="{{ url_for('static', filename='icons/BWMetal.svg') }}" alt="Metal">
                            </a>
                        </div>
                    </div>
                    <p class="card-text">Metal for the masses, Aqua Triangle are back again to bring their
                        energetic mayhem to the shores of Australia.</p>
                </div>

                <div class="card-footer">
                    <div class="d-flex flex-row">
                        <div class="col-6">
                            <p class="my-0">
                                🗓️ 18/11/2026
                            </p>
                            <p class="my-0">
                                📍 The Brightside
                            </p>
                            <p class="my-0">
                                🌆 Brisbane, QLD
                            </p>
                        </div>
                        <div class="col-6 justify-content-end">
                            <p class="text-end my-0">
                                <span class="badge bg-success">Open</span>
                            </p>
                            <p class="text-end my-2">
                                <a href="{{ url_for('event.show', id=2) }}" class="btn btn-custom text-end">View
                                    Details</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- card 2 -->
        <div class="col-sm-12 col-lg-6 col-xl-4 my-2">
            <div class="card card-custom h-100">
                <a href="{{url_for('event.show', id=2)}}">
                    <img src="{{ url_for('static', filename='img/BlueEclipse.jpg') }}" class="card-img-top"
                        alt="Blue Eclipse">
                </a>

                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="row">
                            <h5 class="card-title">Blue Eclipse</h5>
                        </div>
                        <div class="row small-icon">
                            <a href="{{ url_for('main.index', genre='electronic') }}">
                                <img src="{{ url_for('static', filename='icons/BWElectronic.svg') }}" alt="Electronic">
                            </a>
                        </div>
                    </div>
                    <p class="card-text">Electronic like you've never heard before!</p>
                </div>

                <div class="card-footer">
                    <div class="d-flex flex-row">
                        <div class="col-6">
                            <p class="my-0">
                                🗓️ 9/9/2026
                            </p>
                            <p class="my-0">
                                📍 The Zoo
                            </p>
                            <p class="my-0">
                                🌆 Brisbane, QLD
                            </p>
                        </div>
                        <div class="col-6 justify-content-end">
                            <p class="text-end my-0">
                                <span class="badge bg-danger">Cancelled</span>
                            </p>
                            <p class="text-end my-2">
                                <a href="{{ url_for('event.show', id=2) }}" class="btn btn-custom text-end">View
                                    Details</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- card 3 -->
        <div class="col-sm-12 col-lg-6 col-xl-4 my-2">
            <div class="card card-custom h-100">
                <a href="{{url_for('event.show', id=2)}}">
                    <img src="{{ url_for('static', filename='img/EcstaticChild.jpg') }}" class="card-img-top"
                        alt="Ecstatic Child">
                </a>

                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="row">
                            <h5 class="card-title">Ecstatic Child</h5>
                        </div>
                        <div class="row small-icon">
                            <a href="{{ url_for('main.index', genre='pop') }}">
                                <img src="{{ url_for('static', filename='icons/BWPop.svg') }}" alt="Pop">
                            </a>
                        </div>
                    </div>
                    <p class="card-text">Pop sensation Ecstatic Child is back in Australia bringing her famous
                        style, class and ambiance for all to enjoy. Her first tour in 3 years is sure to be a
                        night of fun and excitement.</p>
                </div>

                <div class="card-footer">
                    <div class="d-flex flex-row">
                        <div class="col-6">
                            <p class="my-0">
                                🗓️ 21/10/2026
                            </p>
                            <p class="my-0">
                                📍 Black Bear Lodge
                            </p>
                            <p class="my-0">
                                🌆 Brisbane, QLD
                            </p>
                        </div>
                        <div class="col-6 justify-content-end">
                            <p class="text-end my-0">
                                <span class="badge bg-warning text-dark">Sold Out</span>
                            </p>
                            <p class="text-end my-2">
                                <a href="{{ url_for('event.show', id=2) }}" class="btn btn-custom text-end">View
                                    Details</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- card 4 -->
        <div class="col-sm-12 col-lg-6 col-xl-4 my-2">
            <div class="card card-custom h-100">
                <a href="{{ url_for('event.show', id=2) }}">
                    <img src="{{ url_for('static', filename='img/RedBoard.jpg') }}" class="card-img-top"
                        alt="Red Board">
                </a>

                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="row">
                            <h5 class="card-title">Red Board</h5>
                        </div>
                        <div class="row small-icon">
                            <a href="{{ url_for('main.index', genre='rock') }}">
                                <img src="{{ url_for('static', filename='icons/BWRock.svg') }}" alt="Rock">
                            </a>
                        </div>
                    </div>
                    <p class="card-text">Rock legends Red Board and their trademark style are touring Australia
                        for the first time!</p>
                </div>

                <div class="card-footer">
                    <div class="d-flex flex-row">
                        <div class="col-6">
                            <p class="my-0">
                                🗓️ 3/1/2027
                            </p>
                            <p class="my-0">
                                📍 Crowbar
                            </p>
                            <p class="my-0">
                                🌆 Brisbane, QLD
                            </p>
                        </div>
                        <div class="col-6 justify-content-end">
                            <p class="text-end my-0">
                                <span class="badge bg-secondary">Inactive</span>
                            </p>
                            <p class="text-end my-2">
                                <a href="{{ url_for('event.show', id=2) }}" class="btn btn-custom text-end">View
                                    Details</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- card 5 -->
        <div class="col-sm-12 col-lg-6 col-xl-4 my-2">
            <div class="card card-custom h-100">
                <a href="{{url_for('event.show', id=2)}}">
                    <img src="{{ url_for('static', filename='img/SmokeyLights.jpg') }}" class="card-img-top"
                        alt="Smokey Lights">
                </a>

                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="row">
                            <h5 class="card-title">Smokey Lights</h5>
                        </div>
                        <div class="row small-icon">
                            <a href="{{ url_for('main.index', genre='hiphop') }}">
                                <img src="{{ url_for('static', filename='icons/BWHip-Hop.svg') }}" alt="Hip-Hop">
                            </a>
                        </div>
                    </div>
                    <p class="card-text">Hard hitting Hip-Hop duo Smokey Lights are going to let loose this
                        coming July, with their renowned lyricism and dope beats to get your blood flowing.</p>
                </div>

                <div class="card-footer">
                    <div class="d-flex flex-row">
                        <div class="col-6">
                            <p class="my-0">
                                🗓️ 14/7/2026
                            </p>
                            <p class="my-0">
                                📍 The Junk Bar
                            </p>
                            <p class="my-0">
                                🌆 Brisbane, QLD
                            </p>
                        </div>
                        <div class="col-6 justify-content-end">
                            <p class="text-end my-0">
                                <span class="badge bg-success">Open</span>
                            </p>
                            <p class="text-end my-2">
                                <a href="{{ url_for('event.show', id=2) }}" class="btn btn-custom text-end">View
                                    Details</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- card 6 -->
        <div class="col-sm-12 col-lg-6 col-xl-4 my-2">
            <div class="card card-custom h-100">
                <a href="{{url_for('event.show', id=2)}}">
                    <img src="{{ url_for('static', filename='img/WideCross.jpg') }}" class="card-img-top"
                        alt="Wide Cross">
                </a>

                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="row">
                            <h5 class="card-title">Wide Cross</h5>
                        </div>
                        <div class="row small-icon">
                            <a href="{{ url_for('main.index', genre='jazz') }}">
                                <img src="{{ url_for('static', filename='icons/BWJazz.svg') }}" alt="Jazz">
                            </a>
                        </div>
                    </div>
                    <p class="card-text">Smooth and cool are the sounds of Wide Cross. Join them in their second
                        tour of Australia bringing good vibes to all.</p>
                </div>

                <div class="card-footer">
                    <div class="d-flex flex-row">
                        <div class="col-6">
                            <p class="my-0">
                                🗓️ 5/12/2026
                            </p>
                            <p class="my-0">
                                📍 Suncorp Stadium
                            </p>
                            <p class="my-0">
                                🌆 Brisbane, QLD
                            </p>
                        </div>
                        <div class="col-6 justify-content-end">
                            <p class="text-end my-0">
                                <span class="badge bg-success">Open</span>
                            </p>
                            <p class="text-end my-2">
                                <a href="{{ url_for('event.show', id=2) }}" class="btn btn-custom text-end">View
                                    Details</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end my-2">
                    <li class="page-item disabled">
                        <a class="page-link" href="{{ url_for('main.index') }}" tabindex="-1"
                            aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item page-item-custom"><a class="page-link"
                            href="{{ url_for('main.index', p=1) }}">1</a>
                    </li>
                    <li class="page-item page-item-custom"><a class="page-link"
                            href="{{ url_for('main.index', p=2) }}">2</a>
                    </li>
                    <li class="page-item page-item-custom"><a class="page-link"
                            href="{{ url_for('main.index', p=3) }}">3</a>
                    </li>
                    <li class="page-item page-item-custom">
                        <a class="page-link page-item-custom" href="{{ url_for('main.index', p=2) }}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>
{% endblock %}