{% extends 'base.html' %}

{% block header %}
<div class="container">

    <!-- carousel -->
    <div class="row">
        <div id="carouselCaptions" class="carousel slide my-2" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner card-custom">

                <div class="carousel-item active">
                    <a href="{{ url_for('event.show', id=2) }}">
                        <img src="{{ url_for('static', filename='img/VerticalFlames.jpg') }}" class="d-block w-100"
                            alt="Vibrant Concert Scene with Crowd and Fire Effects">
                        <div class="carousel-caption">
                            <h5 class="d-block">Vertical Flames</h5>
                            <p class="d-none d-md-block">Playing at The Tivoli, Brisbane on 16/7/2026</p>
                        </div>
                    </a>
                </div>

                <div class="carousel-item">
                    <a href="{{ url_for('event.show', id=2) }}">
                        <img src="{{ url_for('static', filename='img/PastelBlooms.jpg') }}" class="d-block w-100"
                            alt="Crowd watching on a Live Concert">
                        <div class="carousel-caption">
                            <h5 class="d-block">Pastel Blooms</h5>
                            <p class="d-none d-md-block">Playing at The Triffid, Brisbane on 2/9/2026</p>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="{{ url_for('event.show', id=2) }}">
                        <img src="{{ url_for('static', filename='img/SunCircle.jpg') }}" class="d-block w-100"
                            alt="Crowd and Illuminated Stage at Concert">
                        <div class="carousel-caption">
                            <h5 class="d-block">Sun Circle</h5>
                            <p class="d-none d-md-block">Playing at Riverstage, Brisbane on 29/12/2026</p>
                        </div>
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

    <!-- genres -->
    <div class="row">

        {% for genre, filename in icons.items() %}

        <div class="col-2 text-center my-3 large-icon">
            <div>

                {% if genre == selected_genre %}

                <a class="large-icon-selected" href="{{ url_for('main.index', genre=genre) }}">
                    <img src="{{ url_for('static', filename=filename) }}" alt="{{ genre }}">
                </a>

                {% else %}

                <a href="{{ url_for('main.index', genre=genre) }}">
                    <img src="{{ url_for('static', filename=filename) }}" alt="{{ genre }}">
                </a>

                {% endif %}

            </div>
            <div>
                <a href="{{ url_for('main.index', genre=genre) }}">
                    {{ genre }}
                </a>
            </div>
            </a>
        </div>

        {% endfor %}

    </div>

    <!-- event cards -->
    <div class=" row">

        {% for event in events %}

        <div class="col-sm-12 col-lg-6 col-xl-4 my-2">
            <div class="card card-custom h-100">
                <a href="{{ url_for('event.show', id=event.id) }}">
                    <img src="{{ event.image }}" class="card-img-top" alt="{{ event.artist }}">
                </a>

                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="row">
                            <h5 class="card-title">{{ event.artist }}</h5>
                        </div>
                        <div class="row small-icon">
                            <a href="{{ url_for('main.index', genre=event.genre) }}">
                                <img src="{{ url_for('static', filename=icons[event.genre]) }}" alt="{{ event.genre }}">
                            </a>
                        </div>
                    </div>
                    <p class="card-text">{{ event.short_description }}</p>
                </div>

                <div class="card-footer">
                    <div class="d-flex flex-row">
                        <div class="col-6">
                            <p class="my-0">
                                🗓️ {{ event.date.strftime("%d/%m/%Y") }}
                            </p>
                            <p class="my-0">
                                📍 {{ event.venue_name }}
                            </p>
                            <p class="my-0">
                                🌆 {{ event.venue_city }}, {{ event.venue_state }}
                            </p>
                        </div>
                        <div class="col-6 justify-content-end">
                            <p class="text-end my-0">
                                {% if event.status == "Open" %}
                                <span class="badge bg-success">Open</span>
                                {% elif event.status == "Cancelled" %}
                                <span class="badge bg-danger">Cancelled</span>
                                {% elif event.status == "Sold Out" %}
                                <span class="badge bg-warning text-dark">Sold Out</span>
                                {% else %}
                                <span class="badge bg-secondary">Inactive</span>
                                {% endif %}
                            </p>
                            <p class="text-end my-2">
                                <a href="{{ url_for('event.show', id=event.id) }}" class="btn btn-custom text-end">View
                                    Details</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

        <!-- pagination -->
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end my-2">
                    <li class="page-item disabled">
                        <a class="page-link" href="{{ url_for('main.index') }}" tabindex="-1"
                            aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item page-item-custom"><a class="page-link"
                            href="{{ url_for('main.index', p=1) }}">1</a>
                    </li>
                    <li class="page-item page-item-custom"><a class="page-link"
                            href="{{ url_for('main.index', p=2) }}">2</a>
                    </li>
                    <li class="page-item page-item-custom"><a class="page-link"
                            href="{{ url_for('main.index', p=3) }}">3</a>
                    </li>
                    <li class="page-item page-item-custom">
                        <a class="page-link page-item-custom" href="{{ url_for('main.index', p=2) }}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>
{% endblock %}