{% extends 'base.html' %} {% block content %}

<div class="container">
  <h1 class="text-center">Bookings</h1>

  {% if orders != None %}
  <div class="row">
  {% for order in orders %}

    <div class="col-sm-12 col-lg-6 col-xl-4 my-2">
      <div class="card card-custom">
        <a href="{{ url_for('event.show', id=order.event.id) }}">
          <img src="{{ order.event.image }}" class="card-img" alt="{{ order.event.artist }}">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ order.event.artist }}</h5>
          <p class="mb-1"><span class="booking-id">Booking ID: #{{ order.id }}</span></p>
          <div class="d-flex flex-wrap gap-3" style="font-size: small;">
            <span><i class="bi bi-clock-history"></i> Purchased on {{ order.date_time.strftime("%d %B %Y, %I:%M %p") }}</span>
            <span><i class="bi bi-ticket"></i> Quantity: {{ order.quantity }}</span>
          </div>
          <div class="d-flex flex-wrap gap-3 mt-1" style="font-size: small;">
            <span><i class="bi bi-currency-dollar"></i> General Admission: ${{ "{:.2f}".format(order.event.general_admission_price) }}</span>
            <span><i class="bi bi-currency-dollar"></i> Total: ${{ "{:.2f}".format(order.total_price) }}</span>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <a href="{{ url_for('event.show', id=order.event.id) }}" class="btn btn-custom">View Details</a>
          </div>
        </div>
      </div>
    </div>  

  {% endfor %}
  </div>  
  {% else %}

  <p>
  <h5 class="text-center py-3">No bookings found, please make a booking!</h5>
  </p>

  {% endif %}
</div>

{% endblock %}